.global {
    width: 80%;
    margin: 0 auto;

    @media (--medium-viewport) {
        width: 60%;
    }
}

.container {
    p {
        margin-bottom: var(--baseline);
    }
}

.title {
    composes: title from "./bookCover.module.css";
    font-size: 4rem;
}

.header {
    margin-bottom: var(--baselineDouble);
}

.data {
    display: flex;
    align-items: center;
    border: calc(var(--baselineHalf) / 2) solid #ffffff;
    border-radius: var(--baselineHalf);
    padding: var(--baseline);

}

.dataImage {
    width: 85px;
}

.dataContent {
    margin-left: var(--baseline);
    font-size: 1.2rem;
}
