.global {
    width: 80%;
    margin: calc(var(--baselineDouble) * 2) auto;
}

.container {
    h2{
        margin-bottom: var(--baseline);
    }

    p {
        margin-bottom: var(--baseline);
        font-size: 1.2rem;
    }
}

.title {
    composes: title from "./bookCover.module.css";
    font-size: 4rem;
}

.header {
    margin-bottom: var(--baselineDouble);
}

.data {
    display: flex;
    align-items: center;
    border: calc(var(--baselineHalf) / 2) solid #ffffff;
    border-radius: var(--baselineHalf);
    margin: var(--baselineDouble) 0;
    padding: var(--baselineHalf) var(--baseline);
    width: 100%;

    @media (--desktop-viewport) {
        width: calc( var(--baseline) * 15 );
    }
}

.dataImage {
    width: 85px;
}

.dataContent {
    margin-left: var(--baseline);
    font-size: 1.2rem;

    p {
        font-size: 1.2rem;
        margin-bottom: var(--baselineHalf);
    }
}
