.wrapper {
    list-style: none;
    display: grid;
    grid-area: books;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.item {
    padding: var(--baseline);
    margin: var(--baselineHalf);
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--textColor);
    text-decoration: none;
    border: var(--baselineHalf) solid #ffffff;
    border-radius: var(--radius);
    height: calc(var(--baseline) * 12);

    transition: all 600ms var(--easeOutExpo);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 var(--baseline) var(--baselineDouble) rgba(0, 0, 0, .1);

        .link {
            color: var(--greenColor);

            svg {
                fill: var(--greenColor);
            }
        }
    }
}

.title {
    margin-bottom: var(--baselineHalf);
}

.readtime {
    margin-bottom: calc(var(--baseline) * 3 );
    font-size: 1rem;
}

.categories {
    font-size: .9rem;
    list-style: none;
    margin: 0;

    li {
        display: inline-block;

        + li {
            margin-left: calc( var(--baseline) * .5 );
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    margin: 0;
    display: block;
    color: var(--thirdColor);

    svg {
        fill: var(--thirdColor);
    }
}