.item {
  padding: var(--baseline);
  margin: var(--baselineHalf);
  background-color: var(--thirdColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  border-radius: var(--baselineHalf);
  height: calc(var(--baseline) * 9);
  transition: all 600ms var(--easeOutExpo);

  &:hover {
    transform: scale(1.02) translateY(-3px);
    box-shadow: 0 var(--baseline) var(--baselineDouble) rgba(0, 0, 0, 0.1);
  }
}

.sepia {
  background-color: var(--bgSecondColor);
  color: var(--textColor);
}

.dark {
  background-color: var(--mainColor);
  color: var(--bgColor);
}

.hope {
  background-color: var(--greenColor);
  color: var(--bgColor);
}

.itemSmall {
  composes: item;
  height: calc(var(--baseline) * 5);
}

.title {
  margin-bottom: var(--baselineHalf);
}

.subTitle {
  font-size: 1rem;
}

.categories {
  font-size: 0.9rem;
  list-style: none;
  margin: 0;

  li {
    display: inline-block;

    + li {
      margin-left: calc(var(--baseline) * 0.5);
    }
  }
}