.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 156px;
}

.header {
  margin: var(--baseline) 0;
}

.mainTitle {
  margin: var(--baseline) 0;
}
