.logo {
    display: block;
    width: 156px;
    margin-bottom: var(--baselineDouble);
}

.header {
    margin: var(--baseline) 0;
}

.mainTitle {
    margin-bottom: var(--baseline);
}

.imageHero {
    margin-top: calc((var(--baselineDouble) + var(--baselineDouble)) * -1);
}