.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--textColor);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: none;
    color: var(--thirdColor);
  }
}

.logo {
  display: block;
  width: 156px;
}

.header {
  margin: var(--baseline) 0;
}

.mainTitle {
  margin-bottom: var(--baseline);
}
