.list {
    list-style: none;
    display: flex;
    margin: var(--baseline) 0 0;

    li {
        margin-right: var(--baseline);
    }
}

.btn {
    width: calc(var(--baseline) * 1.5);
    height: calc(var(--baseline) * 1.5);
    transition: transform 600ms var(--customEase);
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--textColor);
    overflow: hidden;

    &:hover {
        transform: scale(1.1);
    }
}