@custom-media --medium-viewport (min-width: 768px);

.article {
    width: 90%;
    margin: 0 auto;

    @media (--medium-viewport) {
        width: 60%;
    }
}

.container {
    p {
        margin-bottom: 30px;
    }
}

.title {
    margin-bottom: 60px;
    font-size: 4rem;
}
