:root {
  --mainColor: #F18871;
  --mainColorSecondary: #F4D0C1;
  --secondColor: #C7B053;
  --textColor: #012722;
}
@custom-media --medium-viewport (min-width: 768px);
@custom-media --desktop-viewport (min-width: 992px);

body {
  background-color: var(--mainColorSecondary);
  color: var(--textColor);
  font-size: 18px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  width: 100%;

  @media (--desktop-viewport) {
    width: 1140px;
  }
}
