body {
  background-color: var(--bgColor);
  color: var(--textColor);
  font-size: 18px;
  font-family: Merriweather, serif;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  width: 100%;

  @media (--desktop-viewport) {
    width: 1140px;
  }
}

.footer {
  margin: var(--baselineDouble) 0;
}

/* Global headers */
:--heading {
  font-weight: 400;
}

h1 {
  font-size: 3.3333333333333335rem;
}

h2 {
  font-size: 2rem;
}

.grid {
  width: 100%;
  display: flex;
}

.grid-1of2 {
  width: 50%;
}
