body {
  background-color: var(--bgColor);
  color: var(--textColor);
  font-size: 18px;
  font-family: Helvetica,Arial,sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--textColor);
}

.container {
  margin: 0 auto;
  width: 100%;

  @media (--desktop-viewport) {
    width: 1140px;
  }
}

.footer {
  margin: var(--baselineDouble) 0;
}

/* Global headers */
:--heading {
  font-weight: 600;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-1of2 {
  width: 50%;
}

.right-block {
  display: flex;
  justify-content: flex-end;
}

.book-wrapper {
  list-style: none;
  display: grid;
  grid-area: books;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}